.app_color_default{

    background-color: 
    'rgba(255, 99, 132, 1)';
    /* 'rgba(54, 162, 235, 0.2)',
    'rgba(255, 206, 86, 0.2)',
    'rgba(75, 192, 192, 0.2)',
    'rgba(153, 102, 255, 0.2)',
    'rgba(255, 159, 64, 0.2)' */
}


.titles{
    margin: auto;
    left: -40px;
}
.titles-dashboard{
    left: 0px;
}
.topten_div{
    height: 420px;
    float: left;
}
.statistics_div{
    float: left;
    height: 100%;
}

