

.container {
    width: 100%;
    height: 60vh;
    float: left;
    text-align: center;
}

.container > h2 {
    margin-top: 20px;
    
}

.grid1600 {
    width: 80%;
    height: 110% ;
    margin: 50px auto;
    overflow: auto;
}

.pole{
    float: left;
    width: 33%;
    height: 100%;
    overflow: auto;
    position: relative;
    
}

.pole_stroke{
    height: 90%;
    width: 25px;
    float: center;
    overflow: auto;
    position: absolute;
    bottom: 0px;
    left:50%;
    margin-left:-12.5px;
    background-color: rgba(34, 145, 108, 0.315);
    border: 2px solid rgb(180, 216, 182);
    border-radius: 10px;
}

.pole_goal > p {
    writing-mode: vertical-rl;
    text-orientation: mixed; 
    position: absolute; 
    top: 10px;
    left:50%;
    margin-left:-12.5px;
}

.disk{
    width:300px;
    height: 30px;
    position: absolute;
    bottom: 0px;
    left:50%;
    margin-left:-150px;
    background-color: blueviolet;
    border-radius: 20px;
}

.controller{
    width: 100%;
    height: 50px;
    display: block;
    text-align: center;
    margin: 20px auto;
}
