/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container {
    width: 100%;
    /* height: 100vh; */
    height: 100%;
    border: 1px solid #000;
}

.container__intro {
    width: 100%;
    height: 670px;
    background: transparent url('../img/intro_backg1600x670_overlay.jpg') no-repeat;
    background-size: cover;
}

.container__story {
    width: 100%;
    height: 400px;
    /* background: transparent url('../img/intro_backg1600x670_overlay.jpg') no-repeat; */
    background-size: cover;
}

.container__story_video {
    width: 100%;
    height: 500px;
    background: transparent url('../img/story_video_backg1600x550_overlay.jpg') no-repeat;
    background-size: cover;
    border: 1px solid #000;
}

.container__expertise{
    width: 100%;
    height: 755px;
    /* border: 1px solid #000; */
}

.container__our_team{
    width: 100%;
    height: 712px;
    background: transparent url('../img/our_team_backg1600x712_overlay.jpg') no-repeat;
    background-size: cover;
    border: 1px solid #000;
}

.grid960 {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

.intro__header {
    float: left;
    width: 100%;
    height: 80px;
}

.intro__article {
    float: left;
    width: 100%;
    min-height: 450px;
    text-align: center;
}

.intro__article > h1 {
    width: 100%;
    margin: 160px 0 0;
    padding: 0;
    color: #FFF;
    text-align: center;
}

.intro__article > p {
    margin: 10px 90px 50px 90px;
    padding: 0;
    color: #FFF;
    text-align: center;
}

.h_separator {
    display: block;
    width: 50px;
    height: 1px;
    margin: 15px auto;
    border-top: 1px solid #00e0d0;
}

.Button {
    padding: 10px;
    background: none;
    width: 120px;
    height: 40px;
    font-size: 10pt;
    font-weight: bold;
    border-radius: 1px;
}

.Button--blue {
    color: #00e0d0;
    border: 1px solid #00e0d0;
}

.container__intro .Button--blue:hover {
    color: #FFF;
    border: 1px solid #FFF;
    /* background-color: #FFF; */
}


.container__story .Button--blue:hover {
    color: #30235f;
    border: 1px solid #30235f;
    /* background-color: #FFF; */
}

.intro__footer {
    float: left;
    width: 100%;
    height: 140px;
}

.footer__slider {
    width: 66px;
    height: 45px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    list-style: none;
}

.footer__slider > li {
    display: inline;
}

.footer__slider > li > a {
    float: left;
    display: block;
    width: 7px;
    height: 7px;
    margin: 5px;
    text-decoration: none;
    border-radius: 45px;
    border: 1px solid #00e0d0;
}

.footer__slider > li > a:hover {
    background-color: #00e0d0;
}

.header__logo {
    float: left;
    display: block;
    width: 170px;
    height: 100%;
}

.header__nav {
    float: left;
    width: 790px;
    height: 100%;
}

.nav__container {
    width: 770px;
    height: 30px;
    margin: 0;
    padding: 25px 10px;
    list-style: none;
    text-align: right;
}

.nav__container > li {
    display: inline;
    margin: 0 0 0 20px;
    font-size: 10pt;
    font-weight: bold;
}

.nav__container > li > a {
    text-decoration: none;
    color: #FFF;
}

.nav__container > li > a:hover {
    color: #00e0d0;
}

.col_1_6{
    float: left;
    height : 100%;
    width: 400px;
    /* border: 1px solid #000; */
}

.col_6_13{
    float: left;
    height : 100%;
    width: 560px;
    padding: 70px auto;
    /* border: 1px solid #000; */
}

.col_1_6__img{
    display: block;
    margin: 75px 75px;
}

.story__article {
    margin: 70px 10px 70px 10px;
}

.story__article > p{
    font-size: 14px;
    height: 55px;
    color:#222;
    margin-top: 0px;
    margin-bottom: 30px;
    font-family:  'Times New Roman','Arial Narrow', Arial, sans-serif;
}

.story__article > h2{
    height: 18px;
    margin-top: 0px;
    margin-bottom: 30px;
    font-family:  'Times New Roman','Arial Narrow', Arial, sans-serif;
}

.story_video__play{
    height: 150px;
    width: 160px;
    margin-top: 202px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.story_video__play > a > img {
    margin-bottom: 35px;
    margin-left: 25px;
    margin-right: 25px;
    /* margin: 0 auto; */
}


.story_video__play > h5{
    font-size: 16 px;
    color : #FFF;
    margin: 0;
}

.expertise__header{
    padding-top: 70px;
    padding-bottom: 15px;
    height: 100px;
    width: 100%;
    text-align: center;
    /* border: 1px solid #000; */

}

.expertise__header > p{
    margin:0;
    color : #78777b;
}

.expertise__header >  h2{
    margin:0;
    font-family:  'Times New Roman', Times, serif;
}

.expertise__article{
    float: left;
    min-height: 520px;
    width: 100%;
    /* border: 1px solid #000; */

}

.container__expertise .h_separator {
    border-top: 1px solid #c6c4c9;
}

.container__expertise .border-left{
    border-left: 1px solid #c6c4c9;
}

.container__expertise .border-right{
    border-right: 1px solid #c6c4c9;
}

.container__expertise .border-top{
    border-top: 1px solid #c6c4c9;
}

.container__expertise .border-bottom{
    border-bottom: 1px solid #c6c4c9;
}
.expertise__article__type{
    padding: 40px 0px 40px 0px;
    width: 318px;
    height: 185px;
    float: left;
    text-align: center;
    /* border: 1px solid #000; */
}

.expertise__article__type > p {
    margin: 0px 22px 0px 20px;
    font-size: 14px;
    color: #78777b;
    font-family:   sans-serif;
}

.expertise__article__type > h5 {
    font-size: 16px;
    margin-top: 35px;
    margin-bottom:  25px;
    font-family:   Arial, sans-serif;
}

.our_team__header{
    width: 100%;
    height: 183px;
    text-align: center;
    overflow: auto;
}

.our_team__header > h2,p{
    margin: 0;
    padding: 0;
    color: #FFF;
}

.our_team__header > h2{
    margin-top: 70px;
    font-family:  'Times New Roman', Times, serif;
}

.our_team__header .h_separator {
    border-top: 1px solid #c6c4c9;
}

.our_team__article{
    float: left;
    width: 100%;
    height: 308px;
    text-align: center;
    overflow: auto;
}

.our_team__article__member{
    float: left;
    width: 218px;
    height: 306px;
    border: 1px solid #c6c4c9;
    margin-left: 10px;
    margin-right: 10px;
}

.our_team__article__member> img{
    width: 220px;
    height: 229px;
    overflow: auto;
    display: block;
}

.our_team__article__member > h5{
    margin: 0 ;
    margin-top: 20px;
    font-size: 22 pt;
    font-family:   Arial, sans-serif;
    color: #FFF;
}

.our_team__article__member > p {
    font-size: 13px;
    color: #b1b0ba;
    font-family:   sans-serif;
}

.our_team__footer{
    float: left;
    width: 100%;
    height: 219px;
    text-align: center;
    overflow: auto;
}

.our_team__footer > p {
    margin-top: 70px;
    margin-bottom: 29px;
    font-size: 12pt;
    font-family:   Arial, sans-serif;
}

.our_team__footer Button {
    width: auto;
}

.our_team__footer .Button--blue:hover {
    color: #FFF;
    border: 1px solid #FFF;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}